# General
numpy
pandas
matplotlib
seaborn
scipy

# Jupyter
jupyterlab
ipywidgets

# Machine Learning
scikit-learn
torch
tensorflow

# NLP
nltk
spaCy
gensim

# Model Interpretation
eli5
shap
lime
torchviz

# Data Version Control
dvc

# Utilities
tqdm
tensorboard
